{% extends "@App/Site/header.html.twig" %}

{% block title %}InstaKilo - Фото{% endblock %}

{% block content %}
    <div class="container content">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6 photo">
                <img class="img-responsive" src="{{ vich_uploader_asset(photo, 'photo') }}">

                <div class="col-lg-2 like">{{ form(likeForm) }}</div>
                <span class="press-like">Нажали лайк {{ likesCount }} раза</span>

                {% for comment in photo.comments|reverse %}
                    <div class="comment">
                        <a href="{{ path('app_user_profile', {'id' : comment.user.id}) }}">
                            <b>{{ comment.user }}</b>
                        </a>
                        : {{ comment.comment }}
                    </div>
                {% endfor %}

                <br>
                <br>
                {% for comment in photo.comments|reverse %}
                    <div class="comment">
                        <a href="{{ path('app_user_profile', {'id' : comment.user.id}) }}">
                            <b>{{ comment.user }}</b>
                        </a>
                        : {{ comment.comment }}
                    </div>
                {% endfor %}
                <div>
                    {{ form_start(comment_form, {'action' : path('app_comment_new', {'id' : photo.id})}) }}
                    {{ form_widget(comment_form.comment) }}
                    {{ form_widget(comment_form.submit) }}
                    {{ form_end(comment_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}