{% extends "@App/Site/header.html.twig" %}

{% block title %}InstaKilo - Лента{% endblock %}

{% block content %}
    <div class="container content">
        <div class="row">
            <h1 class="text-center">
                Welcome to the <span class="text-info">Insta</span><span class="text-danger">kilo</span>
            </h1>

            <div class="col-lg-offset-3 col-lg-6 new-btn">
                <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                        data-target=".bs-example-modal-lg">
                    Add new photo
                </button>
            </div>

            <div class="modal fade bs-example-modal-lg new" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        {{ form_start(photoForm, {'action': path('app_site_new'), 'method': 'POST'}) }}
                        {{ form_widget(photoForm) }}
                        {{ form_end(photoForm) }}
                    </div>
                </div>
            </div>
        </div>

        {% for photo in photos|reverse %}
            <div class="row">
                <div class="col-lg-offset-3 col-lg-6 photo">
                    <p>
                        <b>Author:
                            <a href="{{ path('app_user_profile', {'id' : photo.user.id}) }}">
                                {{ photo.user }}
                            </a>
                        </b>
                    </p>
                    <a href="{{ path('app_photo_photodetail', { 'id' : photo.id }) }}">
                        <img class="img-responsive" src="{{ vich_uploader_asset(photo, 'photo') }}">
                    </a>
                    <div class="col-lg-2 like">{{ form(likeForm[photo.id]) }}</div>
                    <span class="press-like">Likes {{ likesCount[photo.id] }}</span>
                    <br>
                    <br>
                    {% for comment in photo.comments|reverse %}
                        <div class="comment">
                            <a href="{{ path('app_user_profile', {'id' : comment.user.id}) }}">
                                <b>{{ comment.user }}</b>
                            </a>
                            : {{ comment.comment }}
                        </div>
                    {% endfor %}
                    <div>
                        {{ form_start(comment_form, {'action' : path('app_comment_new', {'id' : photo.id})}) }}
                        {{ form_widget(comment_form.comment) }}
                        {{ form_widget(comment_form.submit) }}
                        {{ form_end(comment_form) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
