{% extends "::base.html.twig" %}

{% block body %}
    {% block header %}
        <header>
            <div class="container">
                <a href="{{ path('app_site_index') }}">
                    <img alt="logo" class="logo" src="{{ asset('images/logo.jpg') }}">
                </a>

                <ul class="nav navbar-nav">
                    <li><a href="{{ path('all_users') }}" class="menu">Users</a></li>
                    <li><a href="{{ path('app_site_feed') }}" class="menu">Feed</a></li>
                    <li><a href="{{ path('app_user_profile', {'id' : app.user.id}) }}"  class="menu">Profile</a></li>
                </ul>

                <a href="{{ path('fos_user_security_logout') }}" class="menu logout">Logout</a>
                <div style="clear: both"></div>
            </div>
        </header>
    {% endblock header %}
    {% block content %}{% endblock content %}
{% endblock body %}