{% block body_html %}

    <div>Hello, User!</div>
    <hr/>

    <div>
        User <b>{{ author.username }}</b> just updated his <a href="{{ url('app_user_profile', 'id' : {{ author.id }} ) }}">profile</a>
    </div>
    <br>

    <div>
        Regards,
        the Team.
    </div>
            
{% endblock %}