.sign_form {
    padding: 0 30px 10px 30px;
    margin-top: 100px;
    background-color: #F7F7F7;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.photo {
    margin-bottom: 15px;
    border: 1px solid #8c8c8c;
    padding-bottom: 15px;
    padding-top: 10px;
}

.like {
    margin: 5px -25px -15px -15px;
    display: block;
}

.add-comment {
    margin-top: 10px;
}

header {
    height: 50px;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    z-index: 10000;
}

.logo {
    height: 45px;
    float: left;
}

.content {
    margin-top: 55px;
}

.menu {
    color: black;
}

.logout {
    float: right;
    display: block;
    cursor: pointer;
    padding: 15px;
}

.logout:hover {
    text-decoration: none;
    background-color: #e7e7e7;
}

.comment {
    margin-bottom: 5px;
}

.new {
    margin-top: 100px;
}

.modal-content {
    padding-top: 15px;
}

.new-btn {
    margin-bottom: 15px;
}

.avatar {
    padding: 0;
}

.avatar>img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.img-profile {
    width: 100%;
    height: 200px;
}

.profile {
    height: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.img-users {
    width: 40px;
    height: 40px;
}

.img-middle {
    margin-top: 12px;
    display: inline-block;
    color: black;
}

.btn-middle {
    margin-top: 7px;
    margin-bottom: -10px;
}

.press-like {
    margin-top: 7px;
    display: inline-block;
}